.loading {
  text-align: center;
  display: inline-block;
  position: relative;
  width: $loading-main-height;
  height: $loading-main-weight;
}
.loading div {
  text-align: center;
  display: inline-block;
  position: absolute;
  left: $loading-div-left;
  width: $loading-div-width;
  background: color(primary);
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: $loading-div-nth-child-1-left;
  animation-delay: -0.24s;
}
.loading div:nth-child(2) {
  left: $loading-div-nth-child-2-left;
  animation-delay: -0.12s;
}
.loading div:nth-child(3) {
  left: $loading-div-nth-child-3-left;
  animation-delay: 0;
}
@keyframes loading {
  0% {
    top: $loading-keyframe-0-top;
    height: $loading-keyframe-0-height;
  }
  50%,
  100% {
    top: $loading-keyframe-100-top;
    height: $loading-keyframe-100-height;
  }
}
